.banner{
    background-image: url(../images/maxresdefault-2.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.banner h1, .banner p {
    color: ghostwhite;
}